{%include 'navbar.html'%}

<h1>All employee information</h1>

<table class="table">
    <tr>
        <th>id</th>
        <th>name</th>
        <th>email</th>
        <th>contact</th>
        <th>Age</th>
        <th>Gender</th>
        <th>Address</th>
    </tr>
    {%for i in object_list%}
    <tr>
        <td>{{i.id}}</td>
        <td>{{i.name}}</td>
        <td>{{i.email}}</td>
        <td>{{i.contact}}</td>
        <td>{{i.age}}</td>
        <td>{{i.gender}}</td>
        <td>{{i.address}}</td>
    </tr>
    {%endfor%}
</table>